*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 300px;
   
}
h1{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -40px;
}
#name{
    color: rgb(210, 37, 141);
    font-size: 45px;
}
#va{
    color: rgb(95, 162, 221);
    font-size: 40px;
}
#voice{
    width: 250px;
    margin-top: -35px;
    
}
#btn{
    width: 150px;
    background:linear-gradient(to right,rgb(76, 197, 224),rgb(238, 30, 155));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(189, 70, 98),2px 2px 10px rgb(51, 82, 192);
    border: none;
    transition: all 0.5s;
    margin-top: -40px;
}
#btn:hover{
    box-shadow: blue;
    letter-spacing: 2px;
}